<%- include ('../partials/header') %>

<div class="inner">
    <h1 class="heading-secondary">Edit Genre</h1>
    <form class="card" action="/genres/edit/<%= genre._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label class="form__label" for="name">Name</label>
            <input id="name" type="text" name="name" value="<%= genre.name %>" class="form__input" required autofocus />
        </div>
    
        <button type="submit" class="btn btn--green btn--small">Submit →</button>
        <a href="/genres" class="btn btn--small btn-danger">Close</a>
    </form>
</div>

<%- include ('../partials/footer') %>