



                </div>
            </div>
        </div>

        <footer class="footer">
            <p class="text-center">Albumz &copy; 2020, All Rights Reserved</p>
        </footer>
    </body>
</html>