



                </div>
            </div>
        </div>

        <footer class="footer">
            <% const year = new Date(); %>
            <p class="text-center">Albumz &copy; <%= year.getFullYear(); %>, All Rights Reserved | Design by Emmanuel Adebayo&trade;</p>
        </footer>
    </body>
</html>