<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= subject %></title>
</head>
<body>
    <table class="body" role='presentation' border='0' cellpadding='0' cellspacing='0'>
        <tbody>
            <tr>
                <td></td>
                <td class="container">
                    <div class="content">
                        <!-- Start centerd white container -->
                        <table class="main" role='presentation'>

                            <!-- Start main area -->
                            <tbody>
                                <tr>
                                    <td class="wrapper">
                                        <table role='presentation' border='0' cellpadding='0' cellspacing='0'>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <!-- Content -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Start footer -->
                                        <div class="footer">
                                            <table role='presentation' border='0' cellpadding='0' cellspacing='0'>
                                                <tbody>
                                                    <tr>
                                                        <td class="content-block">
                                                            <span class="apple-link">Albumz Inc, 128 Nowhere Road, San Francisco CA 99999</span>
                                                            <br />
                                                            <p>
                                                                Don't like these emails?
                                                                <a href="#">Unsubscribe</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>