.formDelete {
  display: inline-block;
}

.albums img,
.album img {
  width: 100%;
  border: 2px solid #fff;
}

.albums img:hover {
  /* opacity: 0.7; */
  filter: brightness(40%);
  cursor: pointer;
}

.albums h4 {
  margin-bottom: 0;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
}
