<h2 class="heading-secondary">Your account settings</h2>
<hr />
<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form__label" for="firstName">First Name</label>
        <input class="form__input" type="text" id="firstName" name="firstName" value="" required>
    </div>

    <div class="form-group">
        <label class="form" for="lastName">Last Name</label>
        <input class="form__input" type="text" id="lastName" name="lastName" value="" required>
    </div>

    <div class="form-group">
        <label class="form" for="email">Email</label>
        <input class="form__input" type="email" id="email" name="email" value="" required>
    </div>

    <div class="form-group">
        <label class="form" for="username">Username</label>
        <input class="form__input" type="text" id="username" name="username" value="" required>
    </div>

    <div class="form-group">
        <img class="form__user-photo" src="" alt="" title="" />
        <input class="form__upload" type="file" id="photo" name="photo" accept="image/*">
        <label class="form" for="photo">Choose new photo</label>
    </div>

    <div class="form-group">
        <button class="btn btn--green btn--small btn-block" type="submit">Save settings</button>
    </div>
</form>

<div class="space"></div>

<h2 class="heading-secondary">Password change</h2>
<hr />
<form action="" method="POST">
    <div class="form-group">
        <label class="form__label" for="passwordCurrent">Current Password</label>
        <input class="form__input" type="password" id="passwordCurrent" name="passwordCurrent" placeholder="********" required minlength="8">
    </div>

    <div class="form-group">
        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="password" id="password" name="password" placeholder="********" required minlength="8">
    </div>

    <div class="form-group">
        <label class="form__label" for="passwordConfirm">Confirm Password</label>
        <input class="form__input" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="********" required minlength="8">
    </div>

    <div class="form-group">
        <button class="btn btn--green btn--small btn-block" type="submit">Save password</button>
    </div>
</form>