<div class="row album">
    <h2 class="heading-tertiary">My Albums</h2>
    <div class="col-md-4 albums">
        <a href="">
            <img src="" alt="" height="258"/>
        </a>

        <h4 class="album-title text-center"></h4>
        <p class="artist-name text-center"></p>
    </div>
</div>