<h1 class="heading-primary">`</h1>
<div class="row album">
    <div class="col-md-4">
        <img id="user-profile--img" src="" alt="`" title="`" />
    </div>

    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <strong>First Name:</strong> 
            </li>
            <li class="list-group-item">
                <strong>Last Name:</strong> 
            </li>
            <li class="list-group-item">
                <strong>Username:</strong> 
            </li>
            <li class="list-group-item">
                <strong> Email Address:</strong> <a href="mailto:"></a>
            </li>
            <li class="list-group-item">
                <strong>Location:</strong> 
            </li>
            <li class="list-group-item">
                <strong>Favorite Genre:</strong> 
            </li>
            <li class="list-group-item">
                <strong>Favorite Artist:</strong> 
            </li>
            <li class="list-group-item">
                <strong>Joined:</strong> 
                <time datetime=""></time>
            </li>
            <li class="list-group-item album-count">
                <strong>Albums:</strong> 
                <span class="badge-count"></span>
            </li>
        </ul>
    </div>
</div>

<div class="row album">
    <h2 class="heading-tertiary">My Albums</h2>
    <div class="col-md-4 albums">
        <a href="">
            <img src="" alt="" height="258"/>
        </a>

        <h4 class="album-title text-center"></h4>
        <p class="artist-name text-center"></p>
    </div>
</div>